## Consolidar Pastas de Trabalho Excel

### Dúvidas:

- Total de colunas: 11
    - só muda se houver a solicitação de inclusão de mais campos

- Nome da aba é sempre "dados"?
    - Sim!

- Qual é a origem dos relatórios?
    - Resp: eles são extraídos do sistema de venda.

- Data é a data de realização da venda?
    - Sim!
    
- Quem são os compradores?
    - O nome do arquivo tem algo a ver com isso?
        - Nome do arquivo é configurado da seguinte forma:

        `nome do segmento - país onde foi realizada a venda`



Passo a passo:

- Criar uma planilha em branco
- Replicar as colunas que existem nos relatórios (11 colunas)
- Inserir duas colunas novas: Segmento e País
- Percorrer todos os arquivos, copiar os dados, colar na planilha consolidado e preencher
as informações de segmento e país

In [1]:
# Importar as bibliotecas 
import pandas as pd # Biblioteca de estrutura de dados primária
import os           # Permite acessar os arquivos e diretórios do sistema operacional
import datetime     # Manipula datas e horas

# Checar a versão 
from platform import python_version
print(f'Python Version : {python_version()}')               # >= 3.12.2
print (f'Pandas Version : {pd.__version__}')                # >= 2.2.1

Python Version : 3.12.2
Pandas Version : 2.2.1

In [2]:
print(f'Diretório atual: {os.getcwd()!r}')

Diretório atual: 'c:\\Users\\Spider\\OneDrive - HTPDATA\\Arquivos\\Profissional\\Portfolio\\Python\\rpa_consolidate_excel_workbooks\\scripts'

In [3]:
cwd = 'C:\\Users\\Spider\\OneDrive - HTPDATA\\Arquivos\\Profissional\\Portfolio\\Python\\rpa_consolidate_excel_workbooks'
if os.getcwd() != cwd:  # Obtém o diretório de trabalho atual
    os.chdir(cwd)       # Altera o direitório de trabalho atual

In [4]:
print(f'Diretório do script: {cwd!r}')

Diretório do script: 'C:\\Users\\Spider\\OneDrive - HTPDATA\\Arquivos\\Profissional\\Portfolio\\Python\\rpa_consolidate_excel_workbooks'

In [5]:
# Listar os nomes de arquivos e diretórios 
filenames = os.listdir('workbooks\\input\\data')
print(filenames)

['Governo-Alemanha.xlsx', 'Governo-Canadá.xlsx', 'Governo-Chile.xlsx', 'Governo-EUA.xlsx', 'Governo-França.xlsx', 'Grandes empresas-Alemanha.xlsx', 'Grandes empresas-Canadá.xlsx', 'Grandes empresas-Chile.xlsx', 'Grandes empresas-EUA.xlsx', 'Grandes empresas-França.xlsx', 'Médias empresas-Alemanha.xlsx', 'Médias empresas-Canadá.xlsx', 'Médias empresas-Chile.xlsx', 'Médias empresas-EUA.xlsx', 'Médias empresas-França.xlsx', 'Pequenas empresas-Alemanha.xlsx', 'Pequenas empresas-Canadá.xlsx', 'Pequenas empresas-Chile.xlsx', 'Pequenas empresas-EUA.xlsx', 'Pequenas empresas-França.xlsx', 'Vendas online-Alemanha.xlsx', 'Vendas online-Canadá.xlsx', 'Vendas online-Chile.xlsx', 'Vendas online-EUA.xlsx', 'Vendas online-França.xlsx']

In [6]:
 # Itera sobre todos os arquivos
for filename in filenames:
    filepath = os.path.join(cwd, 'workbooks', 'input', 'data', filename)
    print(filepath)

C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Governo-Alemanha.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Governo-Canadá.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Governo-Chile.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Governo-EUA.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Governo-França.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Grandes empresas-Alemanha.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Grandes empresas-Canadá.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Grandes empresas-Chile.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Grandes empresas-EUA.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Grandes empresas-França.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Médias empresas-Alemanha.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Médias empresas-Canadá.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Médias empresas-Chile.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Médias empresas-EUA.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Médias empresas-França.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Pequenas empresas-Alemanha.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Pequenas empresas-Canadá.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Pequenas empresas-Chile.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Pequenas empresas-EUA.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Pequenas empresas-França.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Vendas online-Alemanha.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Vendas online-Canadá.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Vendas online-Chile.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Vendas online-EUA.xlsx
C:\Users\Spider\OneDrive - HTPDATA\Arquivos\Profissional\Portfolio\Python\rpa_consolidate_excel_workbooks\workbooks\input\data\Vendas online-França.xlsx

In [7]:
# Itera sobre todos os arquivos
for filename in filenames:
    if filename.endswith('.xlsx'):
        data_filename = filename.split('-')
        print(data_filename)

['Governo', 'Alemanha.xlsx']
['Governo', 'Canadá.xlsx']
['Governo', 'Chile.xlsx']
['Governo', 'EUA.xlsx']
['Governo', 'França.xlsx']
['Grandes empresas', 'Alemanha.xlsx']
['Grandes empresas', 'Canadá.xlsx']
['Grandes empresas', 'Chile.xlsx']
['Grandes empresas', 'EUA.xlsx']
['Grandes empresas', 'França.xlsx']
['Médias empresas', 'Alemanha.xlsx']
['Médias empresas', 'Canadá.xlsx']
['Médias empresas', 'Chile.xlsx']
['Médias empresas', 'EUA.xlsx']
['Médias empresas', 'França.xlsx']
['Pequenas empresas', 'Alemanha.xlsx']
['Pequenas empresas', 'Canadá.xlsx']
['Pequenas empresas', 'Chile.xlsx']
['Pequenas empresas', 'EUA.xlsx']
['Pequenas empresas', 'França.xlsx']
['Vendas online', 'Alemanha.xlsx']
['Vendas online', 'Canadá.xlsx']
['Vendas online', 'Chile.xlsx']
['Vendas online', 'EUA.xlsx']
['Vendas online', 'França.xlsx']

In [8]:
 # Itera sobre todos os arquivos
for filename in filenames:
    if filename.endswith('.xlsx'):
        data_filename = filename.split('-')
        segment = data_filename[0]
        print(segment)

Governo
Governo
Governo
Governo
Governo
Grandes empresas
Grandes empresas
Grandes empresas
Grandes empresas
Grandes empresas
Médias empresas
Médias empresas
Médias empresas
Médias empresas
Médias empresas
Pequenas empresas
Pequenas empresas
Pequenas empresas
Pequenas empresas
Pequenas empresas
Vendas online
Vendas online
Vendas online
Vendas online
Vendas online

In [9]:
 # Itera sobre todos os arquivos
for filename in filenames:
    if filename.endswith('.xlsx'):
        data_filename = filename.split('-')
        segment = data_filename[0]
        country = data_filename[1].replace('.xlsx', '')
        print(country)

Alemanha
Canadá
Chile
EUA
França
Alemanha
Canadá
Chile
EUA
França
Alemanha
Canadá
Chile
EUA
França
Alemanha
Canadá
Chile
EUA
França
Alemanha
Canadá
Chile
EUA
França

In [10]:
# Definir as colunas para o DataFrame 'consolidado'
columns = [
    'Segmento',
    'País',
    'Produto',
    'Qtde de Unidades Vendidas',
    'Preço Unitário',
    'Valor Total',
    'Desconto',
    'Valor Total c/ Desconto',
    'Custo Total',
    'Lucro',
    'Data',
    'Mês',
    'Ano'
]

# Criar um DataFrame vazio com as colunas especificadas
df_consolidated = pd.DataFrame(columns=columns)

In [11]:
# DataFrame
df_consolidated

Empty DataFrame
Columns: [Segmento, País, Produto, Qtde de Unidades Vendidas, Preço Unitário, Valor Total, Desconto, Valor Total c/ Desconto, Custo Total, Lucro, Data, Mês, Ano]
Index: []

In [12]:
# Ignora o aviso
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

for filename in filenames:
    if filename.endswith('.xlsx'):
        
        data_filename = filename.split('-')
        segment = data_filename[0]
        country = data_filename[1].replace('.xlsx', '')
        
        try:
            filepath = os.path.join(cwd, 'workbooks', 'input', 'data', filename)
            df = pd.read_excel(filepath)
            df.insert(0, 'Segmento', segment)
            df.insert(1, 'País', country) 
            #df_consolidated = pd.concat([df_consolidated, df], ignore_index=True, sort=False)
            df_consolidated = pd.concat([df_consolidated, df])
        except:
            with open('logs\\log_erros.txt', 'w') as file:
                file.write(f'Erro ao tentar consolidar o arquivo {filename}.')
    else:
        with open('logs\\log_erros.txt', 'w') as file:
            file.write(f'O arquivo {filename} não é um arquivo Excel válido!')

In [13]:
# Obter a data e hora atuais
agora = datetime.datetime.now()
print(f'Data e hora atual: {agora}')

Data e hora atual: 2024-03-18 12:36:16.394834

In [14]:
# Exportar o DataFrame consolidado para um arquivo Excel
df_consolidated.to_excel(f'workbooks\\output\\report-consolidated-{agora.strftime('%d-%m-%Y')}.xlsx', 
                     index=False,
                     sheet_name='ReportConsolidated')

In [15]:
from typing import Optional, Union, List, Tuple, Dict

def identify_df(df: pd.DataFrame, n: Optional[int] = 3) -> None:

    print(f'Verifica a(s) {n} primeira(s) linhas superiores'.center(100, '-'))
    display(df.head(n))  
    print('\n')

    print(f'Verifica a(s) {n} primeira(s) linhas inferiores'.center(100, '-'))
    display(df.tail(n))
    print('\n')

    print('Verifica o resumo das variáveis'.center(100, '-'))
    display(df.info())
    print('\n')

    print('Verifica a dimensionalidade e o tamanho do dataframe'.center(100, '-'))
    nrow, ncol = df.shape 
    total_cel = df.size 
    print(f'Dimensionalidade: {nrow} x {ncol}')
    print(f'Tamanho: {total_cel} células')
    print('\n')

identify_df(df_consolidated, n=3)

---------------------------Verifica a(s) 3 primeira(s) linhas superiores----------------------------

,Segmento,País,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
0,Governo,Alemanha,Produto 1,1321,20,26420,0.0,26420.0,14531.0,11889.0,2019-01-01,Janeiro,2019
1,Governo,Alemanha,Produto 1,1513,350,529550,0.0,529550.0,432718.0,96832.0,2019-12-01,Dezembro,2019
2,Governo,Alemanha,Produto 2,2146,7,15022,0.0,15022.0,10730.0,4292.0,2019-09-01,Setembro,2019

---------------------------Verifica a(s) 3 primeira(s) linhas inferiores----------------------------

,Segmento,País,Produto,Qtde de Unidades Vendidas,Preço Unitário,Valor Total,Desconto,Valor Total c/ Desconto,Custo Total,Lucro,Data,Mês,Ano
17,Vendas online,França,Produto 3,1393.0,12,16716,2340.24,14375.76,4179.0,10196.76,2019-10-01,Outubro,2019
18,Vendas online,França,Produto 6,1393.0,12,16716,2340.24,14375.76,4179.0,10196.76,2019-10-01,Outubro,2019
19,Vendas online,França,Produto 6,2475.0,12,29700,4158.00,25542.00,7425.0,18117.00,2019-08-01,Agosto,2019

----------------------------------Verifica o resumo das variáveis-----------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 700 entries, 0 to 19
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Segmento                   700 non-null    object
 1   País                       700 non-null    object
 2   Produto                    700 non-null    object
 3   Qtde de Unidades Vendidas  700 non-null    object
 4   Preço Unitário             700 non-null    object
 5   Valor Total                700 non-null    object
 6   Desconto                   700 non-null    float64
 7   Valor Total c/ Desconto    700 non-null    float64
 8   Custo Total                700 non-null    float64
 9   Lucro                      700 non-null    float64
 10  Data                       700 non-null    datetime64[ns]
 11  Mês                        700 non-null    object
 12  Ano                        700 non-null    object
dtypes: datetime64[ns](1), float64(4), object(8)
memory usage: 76.6+ KB

None

------------------------Verifica a dimensionalidade e o tamanho do dataframe------------------------
Dimensionalidade: 700 x 13
Tamanho: 9100 células